/*Estilos globais*/

body {
    display: block;
    margin: 0px;
}
ul {
    list-style: none;
    background-color: rgb(40, 40, 99);
    padding: 10px;
    margin: 0px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

ul li {
    display: inline;
    padding: 10px;
}

.navbar {
    text-decoration: none;
    color: white;
    padding:10px;
}

.navbar:hover {
    background-color: #001b48; 
    padding: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:45px;
    color:#001b48;
    font-weight: 1000;
    margin: 0;
}

#rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

/*Estilos da Home*/

p {
    font-size: 20px;
    color: rgb(7, 7, 107);
    width: 70%;
    margin:10px;
    text-align: justify;
}

#textoSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto; 
}

#julianaLopes, #video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#001b48;
    font-weight: 1000;
    margin-top: 0;
}

#fotoPerfil {
    border-radius: 5%;
    margin-bottom: 30px;
}

iframe {
    padding: 20px;
}

.favicon {
    width: 50px;
    height:50px;
    margin: 30px 30px;
}

.linkIcon {
    display: flex;
    align-items: center;
    margin: 0px;
}
.linkIcon:hover .favicon {
    background-color: #001b48; 
    padding: 5px;   
}

/*Estilos do contato*/

#tituloContato {
    font-size: 30px; 
    text-align: center; 
    padding: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius: 8px;
}

textarea {
    border-radius: 8px;
    padding: 1rem 1rem;
    font-size: .9rem;
}
#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    background-color: #001b48;
    font-family: roboto;
    color: white;
    font-size: 20px;
    
}

label, input, textarea {
    padding: 10px;
    border-radius: 8px;
}

button {
    background-color: white;
    color: rgb(12, 12, 12);
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #001b48;
    cursor: pointer;
    color:white;
    border: 3px solid white; 
}